<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <title></title>
    <style>
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="/display_data">Wine Shop</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/login/profile/">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/display_data">Display</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wine/file_request/">Upload</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login/logout/">Log Out</a>
            </li>
    </nav>
    <form method="post" action="/wine/upload_file/" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="card" style="width:400px">
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>welcome {{user.user_name}} </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Username :</td>
                                    <td>{{user.user_id}}</td>
                                </tr>
                                <tr>
                                    <td>Name :</td>
                                    <td>{{user.user_name}}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{user.email}}</td>
                                </tr>
                                <tr>
                                    <td>Phone</td>
                                    <td>{{user.phoneno}}</td>
                                </tr>
                                <tr>
                                    <td>BirthDate</td>
                                    <td>{{user.bdate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </form>
</body>

</html>